<h1>This is <%= @heroine.name %>'s Show Page</h1>

<p>
    <%= @heroine.super_name %>
</p>

<p>
    <%= link_to @heroine.power.name, power_path(@heroine.power.id) %>
</p>
<br>
<%= link_to "See All She Heros",heroines_path %>
<%= link_to "Create Your Own Heroine!",new_heroine_path %>